body {
    font-family: Arial;
    margin: 40px;
    background: #f2f2f2;
}

h1 {
    color: #444;
}

div {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
